@charset "utf-8";
html,body{
    margin: 0;
    overflow: hidden;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
nav{
    position: relative;
    height: 100vh;
    width: 100%;
}
nav ul{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
nav ul li{
    width: 50%;
    height: 50vh;
    text-align: center;
    line-height: 50vh;
}
nav ul li a{
    display: block;
    height: 100%;
}
section{
    height: 100vh;
    width: 100%;
    position: absolute;
}
#profile{
    left: -100%;
    top: 0;
    background-color: red;
}
#selfpr{
    top: -100vh;
    background-color: green;
}
#vision{
    left: 100%;
    top: 0;
    background-color: yellow;
}
#contact{
    top: 100vh;

    background-color: blue;
}
.top{
    background-color: white;
    position: fixed;
    right: 100px;
    bottom: 100px;
}